////////////////////
// 资源目录
// 资源目录默认在config.kdl同级目录
// layout_dir	"/home/pacjuvenile/.config/zellij/layouts"
// theme_dir	"/home/pacjuvenile/.config//zellij/themes"

// 基础选项
theme	"dracula"
default_layout	"custom_layout"
default_mode	"locked"

// 启动选项
show_startup_tips	false
show_release_notes	false

// shell选项
on_force_close	"detach"
default_shell	"zsh"
// default_cwd	""	// 默认工作路径继承父进程
// session_name	"work"	// 默认使用随机会话名	
attach_to_session	false

// 面板选项
pane_frames	true
auto_layout	true
stacked_resize	true
scroll_buffer_size 10000
osc8_hyperlinks	true
// copy_command "xclip -selection clipboard"	// 默认走OSC 52路线
copy_clipboard	"system"	// 仅OSC 52时生效
scrollback_editor	"nvim"

// UI选项
visual_bell	true
simplified_ui	false
styled_underlines	true

// 鼠标选项
mouse_mode	false
advanced_mouse_actions	false
mouse_hover_effects	false
copy_on_select false

// 会话选项
mirror_session	false
support_kitty_keyboard_protocol false
session_serialization	true
pane_viewport_serialization	true
scrollback_lines_to_serialize	10000
disable_session_metadata	false

// Web选项
web_server	false

////////////////////
// keymaps
////////////////////
keybinds clear-defaults=true {
    locked {
				// 普通模式
        bind "Ctrl n" { SwitchToMode "Normal"; }
				// 滚动
				bind "Ctrl s" { SwitchToMode "Scroll"; }
				// 搜索
        bind "Ctrl /" { SwitchToMode "EnterSearch"; SearchInput 0; }
    }
    normal {
				// 退出
				bind "Ctrl q" { Quit; }
				// 锁定
				bind "Ctrl l" { SwitchToMode "Locked"; }
				// 面板
        bind "R" { NewPane "Right"; }
        bind "D" { NewPane "Down"; }
        bind "S" { NewPane "stacked"; }
        bind "F" { ToggleFloatingPanes; SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
        bind "f" { ToggleFocusFullscreen; }
        bind "t" { ToggleFloatingPanes; }
        bind "h" { MoveFocus "Left"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "l" { MoveFocus "Right"; }
        bind "Left" { MovePane "Left"; }
        bind "Down" { MovePane "Down"; }
        bind "Up" { MovePane "Up"; }
        bind "Right" { MovePane "Right"; }
        bind "H" { Resize "Decrease Right"; }
        bind "J" { Resize "Increase Down"; }
        bind "K" { Resize "Decrease Down"; }
        bind "L" { Resize "Increase Right"; }
        bind "X" { CloseFocus; }
        bind "Ctrl t" { NewTab; }
        bind "Ctrl r" { SwitchToMode "RenameTab"; TabNameInput 0; }
				bind "Ctrl p" { GoToPreviousTab; }
				bind "Ctrl n" { GoToNextTab; }
        bind "Ctrl P" { MoveTab "Left"; }
        bind "Ctrl N" { MoveTab "Right"; }
        bind "Ctrl w" { CloseTab; }
		}
		scroll {
				bind "Esc" { SwitchToMode "Locked"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
		}
    entersearch {
        bind "Esc" { SearchInput 0; SwitchToMode "Locked"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    search {
				bind "Esc" { SwitchToMode "Locked"; }
        bind "p" { Search "up"; }
        bind "n" { Search "down"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Normal"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Normal"; }
    }
    session {
    }
}

////////////////////
// plugins
////////////////////
plugins {
    // tab-bar location="zellij:tab-bar"
    // status-bar location="zellij:status-bar"
    // strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    // session-manager location="zellij:session-manager"
    // welcome-screen location="zellij:session-manager" {
    //     welcome_screen true
    // }
    // filepicker location="zellij:strider" {
    //     cwd "/"
    // }
    // configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    // about location="zellij:about"
}

load_plugins {
  // "file:/path/to/my-plugin.wasm"
  // "https://example.com/my-plugin.wasm"
}

web_client {
    font "monospace"
}
