////////////////////
// options
////////////////////
// 资源目录
// 资源目录默认在config.kdl同级目录
// layout_dir	"/home/pacjuvenile/.config/zellij/layouts"
// theme_dir	"/home/pacjuvenile/.config//zellij/themes"

// 基础选项
theme	"dracula"
default_layout	"custom_layout"
default_mode	"normal"

// 启动选项
show_startup_tips	false
show_release_notes	false

// shell选项
on_force_close	"detach"
default_shell	"zsh"
// default_cwd	""	// 默认工作路径继承父进程
// session_name	"work"	// 默认使用随机会话名	
attach_to_session	false

// 面板选项
pane_frames	true
auto_layout	true
stacked_resize	true
scroll_buffer_size 10000
osc8_hyperlinks	true
// copy_command "xclip -selection clipboard"	// 默认走OSC 52路线
copy_clipboard	"system"	// 仅OSC 52时生效
scrollback_editor	"nvim"

// UI选项
visual_bell	true
simplified_ui	false
styled_underlines	true

// 鼠标选项
mouse_mode	false
advanced_mouse_actions	false
mouse_hover_effects	false
copy_on_select false

// 会话选项
mirror_session	false
support_kitty_keyboard_protocol false
session_serialization	true
pane_viewport_serialization	true
scrollback_lines_to_serialize	10000
disable_session_metadata	false

// Web选项
web_server	false

////////////////////
// plugins
////////////////////
plugins {
		zjstatus location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm"
}

load_plugins {
  // "file:/path/to/my-plugin.wasm"
  // "https://example.com/my-plugin.wasm"
}

////////////////////
// keymaps
////////////////////
keybinds clear-defaults=true {
    locked {
				// normal mode
        bind "Ctrl n" { SwitchToMode "Normal"; }
    }
    normal {
				// quit
				bind "Ctrl q" { Quit; }
				// locked
				bind "l" { SwitchToMode "Locked"; }
				// pane
				bind "p" { SwitchToMode "Pane"; }
				// tab
				bind "t" { SwitchToMode "Tab"; }
				// scroll
				bind "s" { SwitchToMode "scroll"; }
				// search
				bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
		}
		pane {
				bind "Esc" { SwitchToMode "Normal"; }
        bind "|" { NewPane "Right"; }
        bind "_" { NewPane "Down"; }
        bind "s" { NewPane "stacked"; }
        bind "f" { ToggleFloatingPanes; }
				bind "X" { CloseFocus; }
        bind "h" { MoveFocus "Left"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "l" { MoveFocus "Right"; }
        bind "H" { Resize "Decrease Right"; }
        bind "J" { Resize "Increase Down"; }
        bind "K" { Resize "Decrease Down"; }
        bind "L" { Resize "Increase Right"; }
        bind "F" { ToggleFocusFullscreen; }
        bind "Left" { MovePane "Left"; }
        bind "Down" { MovePane "Down"; }
        bind "Up" { MovePane "Up"; }
        bind "Right" { MovePane "Right"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
		}
		tab {
				bind "Esc" { SwitchToMode "Normal"; }
        bind "t" { NewTab; }
        bind "x" { CloseTab; }
				bind "p" { GoToPreviousTab; }
				bind "n" { GoToNextTab; }
        bind "P" { MoveTab "Left"; }
        bind "N" { MoveTab "Right"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
		}
		scroll {
				bind "Esc" { SwitchToMode "Normal"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
		}
    entersearch {
        bind "Esc" { SearchInput 0; SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    search {
				bind "Esc" { SwitchToMode "Normal"; }
        bind "p" { Search "up"; }
        bind "n" { Search "down"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Normal"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Normal"; }
    }
    session {
    }
}
