layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                format_left   "{session}"
                format_center "{tabs}"

                tab_normal "#[fg=white] {index}:{name} "
                tab_active "#[fg=yellow,bold] {index}:{name} "
            }
        }
			  children
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                format_left   "{mode}"
                format_right  "{datetime}"

                mode_normal          "#[bg=blue,fg=black,bold] NORMAL "
                mode_locked          "#[bg=red,fg=black,bold] LOCKED "

                datetime          "#[fg=cyan] {format} "
                datetime_format   "%Y-%m-%d %H:%M:%S"
                datetime_timezone "Asia/Shanghai"
            }
        }
    }
}
